<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @course.text %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<hr>

<h2>Students</h2>
<% @course.users.each do |user| %>
  <%= user.email %><br>
<% end %>
<br>
<hr>

<h2>Articles</h2>
<% @course.articles.each do |article| %>
  <%= link_to article.title, article_path(article) %>
<% end %>
